<header id="header">
  <h1><a href="index.html">Exponent</a></h1>
  <nav id="nav">
    <ul>
      <li><a href="#">Sign Up</a></li>
      <li><a href="#">Log In</a></li>
      <li class="special">
        <a href="#" class="skel-layers-include icon fa-bars" data-action="toggleLayer" data-args="menuPanel">Menu</a>
        <div id="menuPanel-content">
          <ul>
            <li><a href="index.html">Home</a></li>
            <li>
              <span>Layouts</span>
              <ul>
                <li><a href="left-sidebar.html">Left Sidebar</a></li>
                <li><a href="right-sidebar.html">Right Sidebar</a></li>
                <li><a href="no-sidebar.html">No Sidebar</a></li>
                <li><a href="contact.html">Contact</a></li>
              </ul>
            </li>
            <li><a href="elements.html">Elements</a></li>
            <li><a href="#">Sign Up</a></li>
            <li><a href="#">Log In</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </nav>
</header>